<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
</body>

<footer th:fragment="footer">
							
    <div class="row_footer tripleVertPadding">
        
        <div class="eightcol">
            <div class="footerLogos">

               									
                <p>Office for Open Research</p>

            </div>
        </div>
        
        <div class="fourcol last">
            <h2>Connect with us</h2>
            <ul class="inlineList footer-socialIcons">
                
                <li><a href="https://www.facebook.com/pages/The-University-of-Manchester-Library/25777209922">
                    <img class="lazy" src="https://www.library.manchester.ac.uk/assets/images/design/icon-facebook-large.png" width="40" height="40" data-original="/assets/images/design/icon-facebook-large.png" alt="Facebook page for The University of Manchester Library">
                    <noscript><img class="" src="https://www.library.manchester.ac.uk/assets/images/design/icon-facebook-large.png" width="40" height="40" alt="Facebook page for The University of Manchester Library"></noscript>
                    </a>
                </li>
                <li><a href="https://twitter.com/UoMLibrary">
                    <img class="lazy" src="https://www.library.manchester.ac.uk/assets/images/design/icon-twitter-large.png" width="40" height="40" data-original="/assets/images/design/icon-twitter-large.png" alt="Twitter page for The University of Manchester Library">
                    <noscript><img class="" src="https://www.library.manchester.ac.uk/assets/images/design/icon-twitter-large.png" width="40" height="40" alt="Twitter page for The University of Manchester Library"></noscript>
                    </a>
                </li>
                <li><a href="https://www.instagram.com/uomlibrary/">
                    <img class="lazy" src="https://www.library.manchester.ac.uk/assets/images/design/icon-instagram.png" width="40" height="40" data-original="/assets/images/design/icon-instagram.png"  alt="Instagram page for The University of Manchester Library">
                    <noscript><img class="" src="https://www.library.manchester.ac.uk/assets/images/design/icon-instagram.png" width="40" height="40" alt="Instagram page for The University of Manchester Library"></noscript>
                    </a>
                </li>
                <li><a href="https://www.youtube.com/user/UoMLibrary">
                    <img class="lazy" src="https://www.library.manchester.ac.uk/assets/images/design/icon-youtube-large.png" width="40" height="40" data-original="/assets/images/design/icon-youtube-large.png"  alt="YouTube page for The University of Manchester Library">
                    <noscript><img class="" src="https://www.library.manchester.ac.uk/assets/images/design/icon-youtube-large.png" width="40" height="40" alt="YouTube page for The University of Manchester Library"></noscript>
                    </a>
                </li>
                <li><a href="https://www.linkedin.com/showcase/the-university-of-manchester-library">
                    <img class="lazy" src="https://www.library.manchester.ac.uk/assets/images/design/icon-linkedin.png" width="40" height="40" data-original="/assets/images/design/icon-linkedin.png"  alt="LinkedIn page for The University of Manchester Library">
                    <noscript><img class="" src="https://www.library.manchester.ac.uk/assets/images/design/icon-linkedin.png" width="40" height="40" alt="LinkedIn page for The University of Manchester Library"></noscript>
                    </a>
                </li>													
            </ul>
        </div>
    </div>
    
    <hr>
        
    <div class="row_footer singleVertPadding">
        <div class="twelvecol">
            <ul class="inlineList">
                <li><a href="https://www.manchester.ac.uk/disclaimer/">Disclaimer</a> /</li>
							<li><a href="https://www.manchester.ac.uk/discover/privacy-information/data-protection/">Data Protection</a> /</li>
							<li><a href="https://www.manchester.ac.uk/copyright/">Copyright notice</a> /</li>
							<li><a href="https://www.library.manchester.ac.uk/accessibility/">Web accessibility</a> /</li>
							<li><a href="https://www.manchester.ac.uk/discover/privacy-information/freedom-information/">Freedom of information</a> /</li>
							<li><a href="https://www.manchester.ac.uk/discover/governance/charitable-status/">Charitable status</a> /</li>
              
                <li>Royal Charter Number: RC000797</li>
            </ul>
        </div>
    </div>
    
</footer>

</html>